/*搜索栏*/
#search{width: 10rem;height: 1.8rem;background: #F64A4A;box-shadow: 0 0 .5rem rgba(0,0,0,.5);position: relative;text-align: center;}
#search .location{display:block;height: .8rem;width:1rem;position: absolute;bottom: .2rem;left: .1rem;background: url(../img/COMMON/返回.png) no-repeat .2rem .1rem/.5rem .5rem;}
#search .search-bar{width: 8.5rem;height: .8rem;position: absolute;bottom: .2rem;left: 1.1rem;border-radius: .1rem;background: rgba(0,0,0,.2);border: none;padding: 0 .7rem;font: .4rem/.6rem "微软雅黑";color: white;outline: none;box-sizing: border-box;}
#search .search-bar::-webkit-input-placeholder { /* WebKit browsers */ color: #ccc;font: .4rem/.8rem "宋体";} 
#search .search-bar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #ccc;font: .4rem/.8rem "宋体";} 
#search .search-bar::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #CCCCCC;font: .4rem/.8rem "宋体";} 
#search .search-bar:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #CCCCCC;font: .4rem/.8rem "宋体";} 
#search img{width: .5rem;height: .5rem;position: absolute;bottom: .35rem;left: 1.2rem;}
#container{width: 10rem;height: 15.5rem;overflow-x: auto;overflow-y: auto;}
.main{width: 10rem;list-style: none;}
.main li{width: 10rem;height: 1.2rem;border-bottom: .01rem solid #CCCCCC;}
.main li a{display:block;width: 10rem;height: 1.2rem;box-sizing: border-box;padding: 0 .5rem;color: #333333;text-decoration: none;}
.main li a p{font: .4rem/1.2rem "微软雅黑";color: #333333;float: left;}
.main li a span{font: .35rem/1.2rem "微软雅黑";color: #ccc;float: right;}
.main .nodata{width: 10rem;height: 2rem;font: .5rem/2rem "微软雅黑";color: #ccc;text-align: center;}